@tailwind base;
@tailwind components;
@tailwind utilities;

/* NOISE START */
#noise {
  position: fixed;
  background-color: transparent;
  background-image: url(../public/img/effects/noise.png);
  background-repeat: repeat;
  inset: -50%;
  height: 200vh;
  width: 200vw;
  pointer-events: none;
  z-index: 999999;
  animation: noise 0.2s infinite;
}

@media (prefers-reduced-motion: reduce) {
  noise {
    animation: none;
    opacity: 0.5;
  }
}

@keyframes noise {
  0% {
    transform: translate(0, 0);
  }

  10% {
    transform: translate(-5%, -5%);
  }

  20% {
    transform: translate(-10%, 5%);
  }

  30% {
    transform: translate(5%, -10%);
  }

  40% {
    transform: translate(-5%, 15%);
  }

  50% {
    transform: translate(-10%, 5%);
  }

  60% {
    transform: translate(15%, 0);
  }

  70% {
    transform: translate(0, 15%);
  }

  80% {
    transform: translate(10%, 5%);
  }

  90% {
    transform: translate(5%, 10%);
  }

  100% {
    transform: translate(0, 0);
  }
}
/* NOISE FINISH */

/* CARROUSEL INFINITE */
.scroller {
  @apply max-w-5xl mx-auto;
}

.scroller_inner {
  @apply flex flex-wrap gap-20 py-4;
}

.scroller[data-animated="true"] {
  @apply overflow-hidden;
  -webkit-mask: linear-gradient(
    90deg,
    transparent,
    white 20%,
    white 80%,
    transparent
  );
  mask: linear-gradient(90deg, transparent, white 20%, white 80%, transparent);
}

.scroller[data-animated="true"] .scroller_inner {
  @apply w-max flex-nowrap;
  animation: scroll var(--_animation-duration, 40s)
    var(--_animation-direction, forwards) linear infinite;
}

@keyframes scroll {
  to {
    transform: translate(calc(-50% - 2.5rem));
  }
}

/* .scroller[data-direction="right"] {
      --_animation-direction: reverse;
    }
    
    .scroller[data-direction="left"] {
      --_animation-direction: forwards;
    }
    
    .scroller[data-speed="fast"] {
      --_animation-duration: 20s;
    }
    
    .scroller[data-speed="slow"] {
      --_animation-duration: 60s;
    } */

/* LOGO SIZE */
.logo {
  @apply w-24 h-24 opacity-50;
}

/* CARROUSSEL FINISH */

/* TABS LIST */
.wrapper {
  @apply pt-5;
}
/* EACH TAB  */
.tabs {
  @apply px-4 py-2 duration-100 border-b-2 border-transparent rounded-t-lg w-36 hover:text-principal hover:border-principal hover:font-normal;
}

div[role="tablist"] {
  /* Match div with "tablist" role attribute */
}
button[role="tab"][aria-selected="true"] {
  /* Match active tab */
  @apply px-4 py-2 font-normal rounded-t-lg duration-0 bg-gradient-to-b from-principal to-third text-second;
}

button[aria-selected="true"]:hover::after {
  transform: scaleX(0);
}

/* EVERY LINK STYLE */
.column {
  column-count: 2;
  column-width: 50%;
  column-gap: 2rem;
}
.link {
  @apply text-left pl-5 w-max h-max text-third hover:rounded-xl border-b-2 border-third hover:bg-[#DCCC82] hover:duration-200;
  -webkit-column-break-inside: avoid;
  page-break-inside: avoid;
  break-inside: avoid;
  margin-bottom: 2rem;
  padding-top: 1em;
  padding-bottom: 1em;
  margin-top: 0;
}

.link a {
  @apply block w-60;
}
.link h2 {
  @apply block font-semibold uppercase;
}
.link p {
  @apply block pl-1 mt-1 mr-10 font-light;
}

/* TAB AND MENU FINISH */
